@model IEnumerable<MvcIntro.Models.Entities.Blog>

<p>
    @Html.ActionLink("Create New Blog", "Create", "Blogs")
</p>
<table class="table blogsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogDateTime)
        </td>
        <td>
            <input type="button" class="editBlogBtn btn btn-info" data-blogid="@item.BlogID" value="Edit" /> |
            @Html.ActionLink("Details", "Details", new { blogID = item.BlogID }, new { @class = "btn btn-success" }) |
            <input type="button" class="deleteBlogBtn btn btn-danger" data-blogid="@item.BlogID" value="Delete" />
        </td>
    </tr>
}

</table>

