@{
    ViewBag.Title = @MvcIntro.Resources.Views.Home.contact.Title;
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    @MvcIntro.Resources.Views.Home.contact.Address
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@MvcIntro.Resources.Views.Home.contact.Support</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@MvcIntro.Resources.Views.Home.contact.Marketing</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>